<!DOCTYPE html>
<html ng-app="monospace">
<head>
    <title>monospace</title>
    <base href="/" />
    {% include 'js.html' %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" ng-href="{% static 'css/monospace.css' %}"/>
    <style>
        .container-fluid{
            margin-left: 5%;
            margin-right: 5%;
        }
    </style>
</head>

<body style="background-color: #231F20; color: #ffff00;">

    <navbar></navbar>
    <div class="container">
        <div class="row">
            <img class="img-responsive" style="margin: 0 auto;" src="{% static 'img/monospace.png' %}"/>
            <div ng-view class="view-animate"></div>
        </div>
    </div>

</body>
</html>
