<!--{% load staticfiles %}-->
<script type="text/javascript" src="{% static 'lib/jquery/jquery-2.2.0.min.js' %}"></script>

<!-- Angular files -->
<script type="text/javascript" src="{% static 'lib/angular/angular.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/angular-route/angular-route.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/angular-cookies/angular-cookies.js' %}"></script>
<!-- <script type="text/javascript" src="{% static 'lib/ngDialog/js/ngDialog.js' %}"></script> -->

<!-- Monospace JS files -->
<script type="text/javascript" src="{% static 'js/monospace.js' %}"></script>
<script type="text/javascript" src="{% static 'js/monospace.config.js' %}"></script>
<script type="text/javascript" src="{% static 'js/monospace.routes.js' %}"></script>
<script type="text/javascript" src="{% static 'js/auth/monospace.authentication.js' %}"></script>
<script type="text/javascript" src="{% static 'js/auth/services/authentication.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/auth/controllers/register.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/auth/controllers/login.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/auth/controllers/auth.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/monospace.layout.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/controllers/layout.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/layout/directives/navbar.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/monospace.editor.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/controllers/editor.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/services/editor.service.js' %}"></script>
<script type="text/javascript" src="{% static 'js/editor/directives/editor.directive.js' %}"></script>
<script type="text/javascript" src="{% static 'js/display/monospace.display.js' %}"></script>
<script type="text/javascript" src="{% static 'js/display/controllers/display.controller.js' %}"></script>
<script type="text/javascript" src="{% static 'js/display/directives/display.directive.js' %}"></script>


<!-- Libraries -->
<!--<link rel="stylesheet" href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}">-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<!--<script type="text/javascript" src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>-->
<link rel="stylesheet" href="{% static 'lib/codemirror/lib/codemirror.css' %}">
<script type="text/javascript" src="{% static 'lib/codemirror/lib/codemirror.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/codemirror/addon/edit/matchbrackets.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/codemirror/addon/comment/continuecomment.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/codemirror/addon/comment/comment.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/codemirror/mode/clike/clike.js' %}"></script>
<script type="text/javascript" src="{% static 'lib/threejs/three.js' %}"></script>

