<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a  href="/" class="navbar-brand">M O N O S P A C E</a>
        </div>
        <div class="collapse navbar-collapse" id="">
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!vm.isAuthenticated()"><a href="register"><span>Register</span></a></li>
                <li ng-if="!vm.isAuthenticated()"><a href="login"><span>Login</span></a></li>
                <li ng-if="vm.isAuthenticated()"><a href="javascript:void(0)" ng-click="vm.logout()"><span>Logout</span></a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>

</nav>
